extends ../layout/default

block content
    .short.section
        ._wrap
            ._column
                h1._title Дмитрий Нестеров
                p._subtitle Talent couch, психолог

                ._img.short__mob-img
                    img(src="img/short_img.jpg", alt="Дмитрий")

                p._target Помогаю найти и раскрыть ваш&nbsp;талант

                ul._list
                    li._item Член Международной Федерации Коучинга (ICF)
                    li._item Член Американской Психологической Ассоциации (АРА)
                    li._item Член Российского Психологического общества (РПО)
                    li._item Лондон — Москва — Нью-Йорк

                a.button(href="#f-modal" data-fancybox) Получить консультацию
                    ._arrow
                        svg(width='38' height='8' viewBox='0 0 38 8' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M37.5102 4.35355C37.7054 4.15829 37.7054 3.84171 37.5102 3.64645L34.3282 0.464466C34.1329 0.269204 33.8164 0.269204 33.6211 0.464466C33.4258 0.659728 33.4258 0.976311 33.6211 1.17157L36.4495 4L33.6211 6.82843C33.4258 7.02369 33.4258 7.34027 33.6211 7.53553C33.8164 7.7308 34.1329 7.7308 34.3282 7.53553L37.5102 4.35355ZM0 4.5H37.1566V3.5H0V4.5Z' fill='black')


            ._column
                ._img
                    img(src="img/short_img.jpg", alt="Дмитрий")


        ._quest
            p._quest-title
                span Трудно после неудачи подняться и снова идти вперед?
                span Вам кажется, что вам не хватает таланта?
                span Сомневаетесь в своих силах?
                span Творческая пауза затянулась?
                span Нет идей?
                span Пропало вдохновение?
                span Страх не позволяет раскрыться?
                span Боитесь чужого мнения?
                span Заела прокрастинация?
                span Трудно после неудачи подняться и снова идти вперед?
                span Потеряли себя?

            p._quest-text Если Вы задаете себе эти вопросы  —  с Вами все в порядке, но Вы вовремя обратились по адресу.

        .section__number
            span 01

    .what.section#what
        ._column
            ._img
                img(src="img/what_img.jpg" alt="Дмитрий")

        ._column
            h2._title.section__title Что такое Talent coaching?
            ._paragraphs
                p._paragraph.paragraph У каждого великого спортсмена есть тренер-коуч. Он не может так же быстро бегать, плавать, преодолевать препятствия, но обладает знаниями, методиками, технологиями и опытом, способным максимально раскрыть потенциал атлета и привести его к победе.
                p._paragraph.paragraph Если рассматривать спорт как модель жизненной борьбы, то многие аспекты бытия можно описать спортивными терминами и понятиями. Тренеры знают, что победа складывается сначала в голове и уже потом завоевывается мускулами. Поэтому логично, что коучинг вышел из науки, которая называется Психология Спорта высоких достижений.
                p._paragraph.paragraph.overflow-h <b>Talent coaching</b> — это узкая специализация на стыке психологии и коучинга, комплексный подход, направленный на максимальное раскрытие потенциала с учетом специфики одаренных людей. Он отлично работает в сферах, связанных с творчеством, бизнесом и наукой - там, где нужен нестандартный подход, воображение и смелость.

            p._more.section__more Читать далее...

        .section__number
            span 02

    .list.section
        ._items
            ._item
                h4._header Чем коучинг отличается от психотерапии?
                p._paragraph В отличие от терапии, коучинг, хоть и базируется на тех же знаниях законов психологии, не факусируется на детском или прошлом негативном опыте, а работает с настоящим и будущим клиента, позволяя найти эффективные решения и увидеть новые возможности.

            ._item
                h4._header Чем коучинг отличается от консалтинга?
                p._paragraph Консультант определяет проблему человека или организации и предлагает свои решения, основываясь на своих знаниях и опыте. Задача коуча — помочь клиенту самому найти ответы, раскрыть собственный творческий потенциал, а затем поддержать в реализации этого видения.

            ._item
                h4._header Чем коучинг отличается от тренинга?
                p._paragraph На традиционных тренингах тренер принимает на себя роль учителя, а слушатели — ученика. В коучинге  отношения партнерские. Клиент сам ставит цели, коуч выступает в качестве наблюдателя, слушателя, задавая вопросы которые приводят клиента к более широкому и глубокому осознанию.

            ._item
                h4._header Коучинг исходит из того, что...
                p._paragraph Человек изначально наделен огромным потенциалом, который в полной мере не реализуется; Намерения человека позитивны; Каждый человек лучший эксперт в своей жизни; Человек всегда делает самый лучший выбор из всех возможных, на основании тех данных, которые у него были/есть в определенный момент времени.


        .section__number
            span 03

    .why.section#why
        ._column
            h2._title.section__title.section__title--underline Почему именно я?

            ._paragraphs
                p._paragraph.paragraph Я знаю что такое создавать — потому что <span>создавал компании, продюсировал фильмы, культурные проекты в партнерстве с мировыми лидерами Индустрии развлечений.</span>
                p._paragraph.paragraph Я знаю что такое успех и что такое неудача. Знаю каково это — терять веру в себя, испытывать «синдром самозванца», проходить через кризисы. Я сам испытывал это не единожды, но с каждым разом учился все быстрее находить в себе силы подниматься, преодолевать страхи, восстанавливаться после «выгорания», неудач, бороться с внутренним критиком, находить источники вдохновения, ставить новые цели и идти к ним.
                p._paragraph.paragraph Я знаю как помочь талантливым людям реализоваться и обрести гармонию с собой. Мои помощники — ведущие ученые, преподаватели лучших университетов и учебных заведений мира, в которых <span>я учился и постоянно продолжаю повышать свою квалификацию.</span>

            p._more.section__more Читать далее...

        ._column
            ._img
                img(src="img/why_img.jpg" alt="Дмитрий")

        .section__number
            span 04

    .exp.section#exp
        h2._title.section__title.section__title--underline Опыт в бизнесе

        ._columns
            ._column
                p._paragraph Стоял у истоков и был собственником двух успешных компаний в одной из самых жестких и конкурентных индустрий.
                p._paragraph Со-основатель и со-владелец: «АМЕДИА» (известной по сериалам «Моя прекрасная няня», «Не родись красивой» и др.) и CINEMOTION (в течение 10 лет представляющей интересы самых успешных российских сценаристов и SONY PICTURES Television в странах СНГ).
                p._paragraph Топ-менеджер в крупнейших частных («ГАММА-фильм» —  дочернее подразделение финансово-инвестиционного консорциума «АЛЬФА-ГРУПП») и государственных (ТЕЛЕКАНАЛ «РОССИЯ» ВГТРК) корпорациях.
                p._paragraph Двадцать лет плодотворного сотрудничества и реализованных совместных проектов с мировыми лидерами в области Индустрии развлечений — SONY PICTURES, PARAMOUNT, WARNER BROTHERS, HBO, самыми успешными продюсерами, сценаристами, режиссерами, писателями и представителями других творческих профессий.

                p._paragraph Возглавлял службу Кинопоказа Телеканала «Россия» (до 60% эфирного времени на то время) и в этой категории по рейтингам  вывел канал с 4 го места на первое.
                p._paragraph Создал Службу закупок (acquisitions), заключил первые сделки с голливудскими студиями мейджорами — Sony Pictures, Warner Bros, Paramount и др, выстроил плодотворное долгосрочное сотрудничество.
                p._paragraph Создал Службу продаж — первую среди всех телеканалов, которая задала уровень, соответствующий самым высоким  международным стандартам. Мы первыми стали принимать участие со своим стендом на самом важном и престижном в Индустрии телерынке в Каннах, первыми стали заключать многомиллионные пакетные сделки с ведущими телеканалами стран СНГ.

            ._column
                p._paragraph Запустил первое в России сценарное агентство, разрабатывающее фильмы и сериалы для ведущих российских телеканалов и продакшн-компаний, представляя интересы самых успешных российских авторов.
                p._paragraph Возглавлял компанию «Гамма-фильм», дочернего подразделения «АЛЬФА-ГРУПП» — одного из крупнейших банковско-финансового консорциума России, владеющей правами на крупнейшую библиотеку российских сериалов.
                p._paragraph Открыл первую в России Школу Сценарного мастерства, преподавателями которой стали ведущие игроки российской кино и теле-индустрии в рамках обучающих программ, созданных совместно с Факультетом Психологии МГУ, Sony Pictures, Disney и многими другими партнерами.
                p._paragraph CINEMOTION. Провел множество специализированных семинаров и обучающих мастер-классов со знаменитыми кинематографистами, такими как Френсис Форд Коппола, Братья Вачовски, Вонг Кар Вай, Терри Гильям, Роберт МакКи и многими другими.
                p._paragraph Компания провела сотни культурно-образовательных мероприятий совместно с ведущими кинофестивалями, фестивалем «Чернешневый лес», Департаментом Культуры Москвы и многими другими культурными институциями.
                p._paragraph Совместно с «Альпина паблишерз» издали книги по сценарному и актерскому мастерству, в том числе первый специализированный учебник «ПСИХОЛОГИЯ ДЛЯ СЦЕНАРИСТОВ».
                p._paragraph Совместно со «Сбербанком» и компанией «Тройка-диалог» провели крупнейший в Индустрии специализированный форум «Инвестиции в кино, ТВ и новые медиа».

        p._more.section__more Читать далее...

        .section__number
            span 05

    .always.section#always
        ._column
            img(src="img/always_img.jpg" alt="Дмитрий")

        ._column
            h2._title.section__title Постоянно учусь и повышаю свою квалификацию:

            ul._list
                li._item Выпускник МГУ им. Ломоносова, аспирантура Факультета психологии МГУ
                li._item New York Film Academy — Продюсерская программа
                li._item Ericson Coaching International — Наука и искусство трансформационного коучинга
                li._item Yale University — Специализированый курс «The Science of Well-being»
                li._item Академия коучинга «5 Prism» Ольги Рыбиной и Юрия Мурадяна — коучей уровня MCC ICF
                li._item University of Pennsylvania  — Positive Psychology (by Martin Seligman)

        .section__number
            span 06

    .how.section#how
        h2._title.section__title.section__title--underline Как проходят сессии?

        ._items
            ._item
                ._img
                    img(src="img/how-1.png" alt="Время")

                p._text Стандартная сессия длится 50 минут, очно или он-лайн

            ._item
                ._img
                    img(src="img/how-2.png" alt="Количество сессий")

                p._text Количество сессий зависит от запроса и пожеланий клиента

            ._item
                ._img
                    img(src="img/how-3.png" alt="Конфиденциально")

                p._text Строго конфиденциально, согласно Cтандартам и Кодексу этики The International Coaching Federation (ICF)

            ._item
                ._img
                    img(src="img/how-4.png" alt="Внимание")

                p._text Клиент получает внимание наивысшего качества, что само по себе имеет огромный трансформационный эффект

        .section__number
            span 07

    .reviews.section#reviews
        h2._title.section__title--underline.section__title Отзывы

        ._container.swiper-container

            ._wrapper.swiper-wrapper

                ._slide.swiper-slide
                    ._img-wrap
                        ._img
                            img(src="img/review-1.png" alt="Отзыв")

                    ._img-border

                    ._content
                        p._name Дарья Владимирова (Брюссель)
                        p._spec Глава продаж компании KitchenAid

                        p._text Каждая сессия с Дмитрием — неожиданное знакомство с собой и со своими истинными желаниями, знакомство, которое без этой помощи могло бы никогда не состояться. Дмитрий обладает уникальным талантом полностью убирать влияние своей личности на процесс, он просто тонкий посредник в твоём разговоре с самим собой. На мой взгляд, это невероятно экологично и безопасно. Очень рекомендую абсолютно всем без исключения!

                ._slide.swiper-slide
                    ._img-wrap
                        ._img
                            img(src="img/review-1.png" alt="Отзыв")

                    ._img-border

                    ._content
                        p._name Дарья Владимирова (Брюссель)
                        p._spec Глава продаж компании KitchenAid

                        p._text Каждая сессия с Дмитрием — неожиданное знакомство с собой и со своими истинными желаниями, знакомство, которое без этой помощи могло бы никогда не состояться. Дмитрий обладает уникальным талантом полностью убирать влияние своей личности на процесс, он просто тонкий посредник в твоём разговоре с самим собой. На мой взгляд, это невероятно экологично и безопасно. Очень рекомендую абсолютно всем без исключения!

                ._slide.swiper-slide
                    ._img-wrap
                        ._img
                            img(src="img/review-1.png" alt="Отзыв")

                    ._img-border

                    ._content
                        p._name Дарья Владимирова (Брюссель)
                        p._spec Глава продаж компании KitchenAid

                        p._text Каждая сессия с Дмитрием — неожиданное знакомство с собой и со своими истинными желаниями, знакомство, которое без этой помощи могло бы никогда не состояться. Дмитрий обладает уникальным талантом полностью убирать влияние своей личности на процесс, он просто тонкий посредник в твоём разговоре с самим собой. На мой взгляд, это невероятно экологично и безопасно. Очень рекомендую абсолютно всем без исключения!

            // If we need navigation buttons
            ._buttons
                ._prev.swiper-button-prev
                    ._arrow
                        svg(width='43' height='9' viewBox='0 0 43 9' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M0.646446 4.68412C0.451183 4.48886 0.451183 4.17228 0.646446 3.97701L3.82843 0.795033C4.02369 0.59977 4.34027 0.59977 4.53553 0.795033C4.7308 0.990295 4.7308 1.30688 4.53553 1.50214L1.70711 4.33057L4.53553 7.15899C4.7308 7.35426 4.7308 7.67084 4.53553 7.8661C4.34027 8.06136 4.02369 8.06136 3.82843 7.8661L0.646446 4.68412ZM43 4.83057H1V3.83057H43V4.83057Z' fill='#C4C4C4')

                ._next.swiper-button-next
                    ._arrow
                        svg(width='43' height='9' viewBox='0 0 43 9' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M0.646446 4.68412C0.451183 4.48886 0.451183 4.17228 0.646446 3.97701L3.82843 0.795033C4.02369 0.59977 4.34027 0.59977 4.53553 0.795033C4.7308 0.990295 4.7308 1.30688 4.53553 1.50214L1.70711 4.33057L4.53553 7.15899C4.7308 7.35426 4.7308 7.67084 4.53553 7.8661C4.34027 8.06136 4.02369 8.06136 3.82843 7.8661L0.646446 4.68412ZM43 4.83057H1V3.83057H43V4.83057Z' fill='#C4C4C4')


            // If we need pagination
            ._pagination.swiper-pagination

    .bb.section
        a.button.bb__button(href="#f-modal" data-fancybox) Получить консультацию

    a.link-modal-email(href="#e-modal" data-fancybox style='display: none')
