.f-modal#f-modal
    ._form
        ._input-wrap
            i._ico
                img(src="img/feedback.png" alt="Телефон")
            input._input(type="text" placeholder="Введите Ваш номер")
        p._desc.f-modal__first-desc По этому телефону я свяжусь с Вами и&nbsp;расскажу о процессе, отвечу на вопросы

        button(type="submit")._btn.button Получить консультацию

        p._desc Заявка Вас ни к чему не обязывает.<br>Вы можете отказаться в любой момент
